@model IEnumerable<Software.Models.TaiKhoan>

@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="title d-flex gap-3 align-items-center mt-3" style="margin-left: 20px; padding-block: 20px">
        <h4 style="margin: 0; margin-left: 10px; font-size: 24px; font-weight: 800">THÔNG TIN TÀI KHOẢN KHÁCH HÀNG</h4>
        <div class="back-icon bg-[#656470] text-red-500 p-2 rounded-md mr-2 cursor-pointer">
            <a asp-action="Create">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </a>
        </div>
    </div>
    <div class="relative overflow-x-auto rounded-lg pt-7 flex justify-content-center">
        <table class="text-lg text-left rtl:text-right text-Jaguar font-medium overflow-hidden rounded-lg w-[95%]">
            <thead class="bg-Bud">
                <tr>
                    <th scope="col" class="px-6 py-3">STT</th>
                    <th scope="col" class="px-6 py-3">Tên tài khoản</th>
                    <th scope="col" class="px-6 py-3">Số dư</th>
                    <th scope="col" class="px-6 py-3">Tên khách hàng</th>
                    <th scope="col" class="px-6 py-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var taiKhoan in Model)
                {
                    <tr class="bg-white border-b hover:bg-gray-50">
                        <th scope="row" class="px-6 py-4">@count</th>
                        <td class="px-6 py-4">@taiKhoan.TenTK</td>
                        <td class="px-6 py-4 balance" data-balance="@taiKhoan.SoDu">@taiKhoan.SoDu</td>
                        <td class="px-6 py-4">@taiKhoan.TenKhachHang</td>
                        <td class="px-6 py-4"><a asp-action="Edit" asp-route-id="@taiKhoan.MaTK">Xem</a></td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
    <script>
        function formatNumber(numStr) {
            let num = parseFloat(numStr);
            return num.toLocaleString('de-DE');
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.balance').forEach(element => {
                let balance = element.dataset.balance;
                element.innerText = formatNumber(balance);
            });
        });
    </script>
</body>
</html>
