@model IEnumerable<Software.Models.MayTinh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="title d-flex align-items-center mt-3" style="margin-left: 10%;padding-block:20px">
    <div class="back-icon bg-[#656470] text-red-500 p-2 rounded-full mr-2 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>

    </div>
    <h4 style="margin: 0; margin-left: 10px;font-size:24px;font-weight:800">ĐĂNG KÝ TÀI KHOẢN KHÁCH HÀNG</h4>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaMT">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaMT">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaMT">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
