@model Software.Models.TaiKhoanNhanVien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaiKhoanNhanVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.MaNV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaTK">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
